<h3>Sign In</h3>
<h4>have an account? Sign In!</h4>

<form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">
    
    <input type="submit" value="Login" class="btn">
</form>

<!-- will need this part for sign ups -->
<h3>Register</h3>
<h4>Are you new? Register here!</h4>


<form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">
    
    <input type="submit" value="Register" class="btn">
</form>