<h1>Welcome, <%= user.username %></h1>
<img src="/imgs/welcome image.jpeg" alt="Welcome image" class="galaxy-image" width="981" height="528">
<p>This is where your creative journey into the cosmos starts. <a href="/admin">Sign in</a> as a curator and lift off!!</p>