<h1>About</h1>
<img src="/imgs/stsci-01f3n9k6pr8b5y9cz2qd7asqpt-1.webp" alt="Andromeda galaxy" class="galaxy-image" width="981" height="528">
<h3>Welcome to Cosmic Planet.</h3>
<p> Ever looked up to the skies and wondered what was out there? or what Elon Musk and his guys are up to whenever a SpaceX shuttle is launched? or if a star is dying and a new one is being born? This is a blog web application where such thoughts and inspirations from the cosmos are captured. Built with NodeJS, Express, MongoDB, EJS, JavaScript and CSS, such ideas are captured securely and displayed eligantly to share to the rest of us mortals.</p>
<p> This web application is built by Tiwalola Tejumola, an ALX Software Engineering learner as his portfolio project.
</p>