<div class="siteN">
    <h1 class="siteN__heading">Welcome to Cosmic Planet</h1>
    <p class="siteN__body">Where creativity meets the stars.</p>
</div>

<img src="/imgs/m31-layered-uv-and-optical.webp" alt="Andromeda galaxy" class="galaxy-image" width="981" height="528">
<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="articles-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.updatedAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
        <% } %>
</section>