<header class="header">
    <a class="header__logo">Curator Panel</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/admin" class="">Curator</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout" class="btn-logout">
            <button>
                Logout
            </button>
        </a>
    </div>
</header>